  
/* Extra Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    h1 {
    
        font-size: 24px !important;
    }
    
    h3 {

        font-size: 20px !important;
    }

    h4 {
        font-size: 18px !important;
    }

    h5 {
        font-size: 16px !important;
    }

    h6 {
        font-size: 14px !important;
    }

    p {
        font-size: 14px !important;
    }

    .hero-icon i {
        font-size: 26px !important;
    }

    header, .letter-section,
    .bookies-section,
    .unquoted-section,
    .ooto-section,
    .trenches-section,
    .learn-list-section,
    .football-betting-section {
        padding: 0 10px;
    }
    .ebook-section{
        margin: 0 10px;
    }
    .bookies-fleece-content h5,
    .unquoted-market-content h5,
    .oot-ordinary-content h5,
    .football-betting-heading h5 {
        font-size: 16px !important;
    }

    .learn-left ul li i {
        font-size: 18px !important;
    }

    .learn-left ul li span {
        font-size: 15px !important;
    }

    ul.xs-flex{
        display: block !important;
    }
    ul.xs-flex li{
        width: 100% !important;
    }

    .ebook-button button,
    .ebook-button2 button {
        font-size: 16px !important;
    }

    .content-img img {
        margin: 10px 0;
        width: 30% !important;
    }
    .learn-right img{
        width: 30% !important;
    }
    .profit-img img {
        width: 40%;
    }
 }


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px)  { 
    h1 {
    
            font-size: 32px !important;
        }
    
        h3 {
    
            font-size: 24px !important;
        }
    
        h4 {
            font-size: 22px !important;
        }
    
        h5 {
            font-size: 18px !important;
        }
    
        h6 {
            font-size: 16px !important;
        }
    
        p {
            font-size: 16px !important;
        }
        .hero-icon i {
            font-size: 30px !important;
        }
        .bookies-fleece-content h5,
        .unquoted-market-content h5,
        .oot-ordinary-content h5,
        .football-betting-heading h5 {
            font-size: 16px !important;
        }
    
        .learn-left ul li i {
            font-size: 18px !important;
        }
    
        .learn-left ul li span {
            font-size: 15px !important;
        }
    
        .ebook-button button,
        .ebook-button2 button {
            font-size: 18px !important;
        }
        .content-img img{
            margin: 10px 0;
            width: 30% !important;
        }
        .learn-right img {
            margin: 30px 0;
            width: 30% !important;
        }
                .learn-img img{
            margin-bottom: 20px;
            width: 30% !important;
        }
        .learn-img img {
            margin-bottom: 20px;
            width: 30% !important;
        }
        .profit-img img{
            width: 40%;
        }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
        h1 {

            font-size: 36px !important;
        }
        
        h3 {

            font-size: 30px !important;
        }
    
        h4 {
            font-size: 26px !important;
        }
    
        h5 {
            font-size: 22px !important;
        }
    
        h6 {
            font-size: 18px !important;
        }
    
        p {
            font-size: 16px !important;
        }

        .bookies-fleece-content h5,
        .unquoted-market-content h5,
        .oot-ordinary-content h5,
        .football-betting-heading h5 {
            font-size: 18px !important;
        }
        .learn-left ul li i {
            font-size: 20px !important;
        }

        .learn-left ul li span {
            font-size: 15px !important;
        }

        .ebook-button button,
        .ebook-button2 button {
            font-size: 20px !important;
        }
        .learn-img img{
            margin-bottom: 20px;
            width: 30% !important;
        }
        .profit-img img {
            width: 100%;
        }

 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 

    

 }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) { 
    .other-none{
        display: none !important;
    }
 }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

 }