/* ===|| All Font Integration  Start ||=== */
@font-face {
    font-family: 'geomanistregular', Arial, sans-serif;
    src: url(../fonts/geomanist-regular-webfont.ttf);
}
@font-face {
    font-family: 'geomanist-italic', Arial, sans-serif;;
    src: url(../fonts/geomanist-regular-italic-webfont.ttf);
}

/* ===|| All Font Integration  Start ||=== */


/* ===|| Common CSS Start ||=== */
body{
    font-family: 'geomanistregular', Arial, sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
p{
    font-size: 18px;
    color:  #000;;
}

h1{
    font-size: 48px;
}
h4{
    font-size: 30px;
}
h6{
    font-size: 24px;
}
/* ===|| Common CSS End ||=== */


/* ===|| Header CSS Start ||=== */
header{
    background-image: url(../images/header-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.initial-heading{
    background-color: #CDCDCD;
    border-radius: 10px;
    color: #222222;
}
.main-heading{
    
}
.hero-iconbox{
    background-color: #F5F5F5;
}
.hero-icon i{
    font-size: 80px;
    color: #111310;
}
/* ===|| Header CSS End ||=== */



/* ===|| Footer CSS Start ||=== */

/* ===|| Footer CSS End ||=== */
