/* ===|| All Font Integration  Start ||=== */
/* Lato Font */
@font-face {
    font-family: 'Lato', sans-serif;
    src: url(../fonts/Lato-Regular.ttf);
    src: url(../fonts/Lato-Italic.ttf);
    src: url(../fonts/Lato-Bold.ttf);
    src: url(../fonts/Lato-BoldItalic.ttf);

}
/* Geomainst Regular Font **/
@font-face {
    font-family: 'geomanistregular', Arial, sans-serif;
    src: url(../fonts/geomanist-regular-webfont.ttf);
    src: url(../fonts/geomanist-regular-italic-webfont.ttf);
}


/* ===|| All Font Integration  Start ||=== */


/* ===|| Common CSS Start ||=== */
body{
    font-family: 'Lato', sans-serif;
    color: #333333;
}
*{
    margin: 0;
    padding: 0;
}
p{
    font-size: 18px;
    color:  #000;;
}

h1{
    font-family: 'geomanistregular', Arial, sans-serif;
    font-size: 48px;
}
h3{
    font-family: 'Lato', sans-serif;
    font-size: 36px;
}
h4{
    font-size: 30px;
}
h6{
    font-family: 'Lato', sans-serif;
    font-size: 24px;
}
p{
    font-size: 20px;
    color: #333333;
}
/* ===|| Common CSS End ||=== */


/* ===|| Header CSS Start ||=== */
header{
    background-image: url(../images/header-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.initial-heading{
    background-color: #CDCDCD;
    border-radius: 10px;
    color: #222222;
}
.main-heading{
    
}


.hero-iconbox{
    background-color: #F5F5F5;
    border-radius: 10px;
}
.hero-icon i{
    font-size: 60px;
    color: #666666;
}
.hero-icon-title h6{
    color: #222222;
}
/* ===|| Header CSS End ||=== */

.focus-section{
    background-color: #fbdd13;
}

/* ===|| Footer CSS Start ||=== */

/* ===|| Footer CSS End ||=== */
