/* ===|| All Font Integration  Start ||=== */
/* Lato Font */
@font-face {
    font-family: 'Lato', sans-serif;
    src: url(../fonts/Lato-Regular.ttf);
    src: url(../fonts/Lato-Italic.ttf);
    src: url(../fonts/Lato-Bold.ttf);
    src: url(../fonts/Lato-BoldItalic.ttf);

}
/* Geomainst Regular Font **/
@font-face {
    font-family: 'geomanistregular', Arial, sans-serif;
    src: url(../fonts/geomanist-regular-webfont.ttf);
    src: url(../fonts/geomanist-regular-italic-webfont.ttf);
}


/* ===|| All Font Integration  Start ||=== */


/* ===|| Common CSS Start ||=== */
body{
    font-family: 'Lato', sans-serif;
    color: #333333;
}
*{
    margin: 0;
    padding: 0;
}
p{
    font-size: 18px;
    color:  #000;;
}

h1{
    font-family: 'geomanistregular', Arial, sans-serif;
    font-size: 48px;
}
h3{
    font-family: 'Lato', sans-serif;
    font-size: 36px;
}
h4{
    font-size: 30px;
}
h5{
    font-family: 'geomanistregular', Arial, sans-serif;
    font-size: 26px;
}
h6{
    font-family: 'Lato', sans-serif;
    font-size: 24px;
}
p{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #333333;
}
/* ===|| Common CSS End ||=== */


/* ===|| Header CSS Start ||=== */
header{
    background-image: url(../images/header-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.initial-heading{
    background-color: #CDCDCD;
    border-radius: 10px;
    color: #222222;
}
.main-heading{
    
}


.hero-iconbox{
    background-color: #F5F5F5;
    border-radius: 10px;
}
.hero-icon i{
    font-size: 60px;
    color: #666666;
}
.hero-icon-title h6{
    color: #222222;
}
/* ===|| Header CSS End ||=== */

.focus-section, .focus-section2{
    background-color: #fbdd13;
}

/* ===|| Bookies Fleece CSS Start ||=== */
.bookies-section, .unquoted-section, .ooto-section, .trenches-section, .learn-list-section, .football-betting-section{
    background-color: #F5F5F5;
}
.bookies-fleece-heading, .unquoted-market-heading, .oot-ordinary-heading, .trenches-heading, .learn-list-heading, .football-betting-heading{
    background-color: #f6343f;
}
.bookies-fleece-content h5, .unquoted-market-content h5,.oot-ordinary-content h5, .football-betting-heading h5{
    font-family: 'Lato', sans-serif;
    color: #222222;
}
.truth-quote{
    background-color: #fbdd13;
    border-radius: 50px 0;
}
/* ===|| Bookies Fleece CSS End ||=== */

/* ===|| E Book CSS Start ||=== */
.ebook-section{
    background-color: #fbdd13;
    padding: 50px 0;
}
.ebook-content h6{
    font-family: 'Lato', sans-serif;
    font-style: italic;
}
/* ===|| E Book CSS End ||=== */

/* ===|| Learn List CSS Start ||=== */
.learn-list-section{}
.learn-list-section .learn-left{}
.learn-left ul li{
    list-style: none;
}
.learn-left ul li i{
    margin-right: 10px;
    font-size: 30px;
}
.learn-left ul li span {
    font-size: 18px;
}
/* ===|| Learn List CSS End ||=== */

/* ===|| E Book CSS Start ||=== */

.ebook-content2 h6, .ebook-content3 {
    font-family: 'Lato', sans-serif;
}
.ebook-button button, .ebook-button2 button{
    font-family: 'Lato', sans-serif;
    background-color: #fbdd13;
    color: #222222;
    border: none;
    font-size: 26px;
    border: 3px solid #222222;
    border-bottom: 7px solid #222222;
    border-radius: 8px;
    transition: .5s;
}
.ebook-button button i, .ebook-button2 button i{
    color: #000;
}
.ebook-button button:hover, .ebook-button2 button:hover {
    transform: scale(1.1);
}
.important-note p{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

/* ===|| E Book CSS End ||=== */


/* ===|| Football Betting CSS Start||=== */
.take-action span {
    background-color: #fbdd13;
    border-radius: 5px 25px;
}
/* ===|| Football Betting CSS End||=== */


/* ===|| Letter section2 CSS Start||=== */
.person-img2 p{
    font-family: 'Lato', sans-serif;
    margin-bottom: 0;
}
/* ===|| Letter section2 CSS End||=== */



/* ===|| Footer CSS Start ||=== */

/* ===|| Footer CSS End ||=== */
